<!DOCTYPE html>
<html>
<head>
  <title>Versus</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
	    <div class="span2">
				<div class="row-fluid"><h1>versus</h1></div>
				<%= render 'shared/links' %>
	    </div>
	    <div class="span10">
				<div class="row-fluid">
					<h2><%=yield(:title)%></h2>
				</div>
				<%= render 'shared/alerts' %>
				<%= yield %>
	    </div>
	  </div>
	</div>
	<%= render 'home/record_match_modal' %>
</body>
</html>
